{% extends 'index.html' %}

{% block js %}
<script src="../static/js/brand.js"></script>
{% endblock %}


{% block main %}
<h1 style="text-align: center;">Manage Brands</h1>


<div id="newBrand" class="overlay">
    <div class="popup">
        <h3>Please fill out the brand details</h3>
        <a class="close" href="#">&times;</a>
        <div class="content"></div>
        <form method="post" action="/brand">
            Name:<br>
            <input type="text" name="name" placeholder="Brand name" required>
            <br><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</div>

<div id="updateBrand" class="overlay">
    <div class="popup">
        <h3>Please update the brand details</h3>
        <a class="close" href="#">&times;</a>
        <!-- <button id="close" style="float: right;">X</button> -->
        <div class="content"></div>
        <form method="post" action="/updateBrand">
            Current Name:<br>
            <input id="brandName" type="text" name="oldname" placeholder="Brand name" readonly>
            <br>
            New Name:<br>
            <input id="newbrandName" type="text" name="newname" placeholder="New Brand name" required>
            <br><br>
            <input type="submit" value="update">
        </form>

    </div>

</div>
<div class="add-new" style="float: right; padding-right: 20rem; ">
    <a href="#newBrand"><button type="button" class="btn btn-info add-new">
        <i class="fa fa-plus"></i> Add New</button></a>
</div>
<div class="container">
    <div class="table-wrapper">
        <div class="title-row">
            <div class="title">
                <h3><b>Brand Details</b></h3>
            </div>
            
            <div class="add-new">
                <input type="text" class="add-new" style="width: 17rem;" id="searchInput" onkeyup="filter()" placeholder="Search by brand name...">
            </div>
        </div>

        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    {% if data["header"] | length >0 %}
                        {% for column in data["header"] %}
                        <th>{{column}}</th>
                        {% endfor %}
                        <th>Actions</th>
                    {% else %}
                        <th>--------NONE--------</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in data["rows"] %}
                <tr>
                    {% for cell in item %}
                    <td>{{cell}}</td>
                    {% endfor %}
                    <td>
                        <!-- <a class="add" title="Add" data-toggle="tooltip"><i class="fa fa-plus"></i></a> -->
                        <a class="edit" href="#updateBrand" title="Edit" data-toggle="tooltip"><i
                                class="fa fa-pencil"></i></a>
                        <a id={{item[0]}} class="delete" title="Delete" data-toggle="tooltip"><i
                                class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("table");
      tr = table.getElementsByTagName("tr");
    
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>



{% endblock %}