{% extends 'index.html' %}

{% block main %}

<h1 style="text-align: center;"> <strong>Inventory Management Menu</strong></h1>
<br>
<br>    


<div class="cards-list">

    <div class="card 1" style="margin-right: -23rem;">
        <div class="card_title title-white">
            <a href="/brand">
                <p class="card-text">Brands</p>
            </a>
        </div>
    </div>

    <div class="card 2">
        <div class="card_title title-white">
            <a href="/category">
                <p class="card-text">Categories</p>
            </a>
        </div>
    </div>
</div>
<div class="cards-list">
    <div class="card 3" style="margin-right: -23rem;">
        <div class="card_title title-white">
            <a href="/product">
                <p class="card-text">Products</p>
            </a>
        </div>
    </div>

    <div class="card 4">
        <div class="card_title title-black">
            <a href="/supplier">
                <p class="card-text">Suppliers</p>
            </a>
        </div>
    </div>
</div>
<div class="cards-list">
    <div class="card 5" style="margin-right: -23rem;">
        <div class="card_title title-black">
            <a href="/analytics">
                <p class="card-text">Analytics</p>
            </a>
        </div>
    </div>

    <div class="card 6">
        <div class="card_title title-black">
            <a href="/employee">
                <p class="card-text">Employees</p>
            </a>
        </div>
    </div>
</div>

{% endblock %}