{% extends 'index.html' %}

{% block main %}


        <div class="cards-list">
  
            <a herf="/employee"><div class="card 1"></a>
              <div class="card_image"> <img src="https://render.fineartamerica.com/images/rendered/square-dynamic/small/images/artworkimages/mediumlarge/3/enduring-light-cream-solid-color-pairs-to-sherwin-williams-natural-linen-sw-9109-melissa-fague.jpg" /> </div>
              <div class="card_title title-white">
                <a href="/employee"><p class="card-text">Employee</p></a>
              </div>
            </div>
            
            <div class="card 2">
                <div class="card_image"> <img src="https://render.fineartamerica.com/images/rendered/square-dynamic/small/images/artworkimages/mediumlarge/3/enduring-light-cream-solid-color-pairs-to-sherwin-williams-natural-linen-sw-9109-melissa-fague.jpg" /> </div>
                <div class="card_title title-white">
                  <a href="/category"><p class="card-text">Categories</p></a>
                </div>
              </div>
            
              <div class="card 3">
                <div class="card_image"> <img src="https://render.fineartamerica.com/images/rendered/square-dynamic/small/images/artworkimages/mediumlarge/3/enduring-light-cream-solid-color-pairs-to-sherwin-williams-natural-linen-sw-9109-melissa-fague.jpg" /> </div>
                <div class="card_title title-white">
                  <a href="/product"><p class="card-text">Products</p></a>
                </div>
              </div>
              
              <div class="card 4">
              <div class="card_image">
                <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
                </div>
              <div class="card_title title-black">
                <a href="/category"><p class="card-text">Categories</p></a>
              </div>
              </div>
            
              <div class="card 5">
                <div class="card_image">
                  <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
                  </div>
                <div class="card_title title-black">
                  <p>Card Title</p>
                </div>
                </div>

                <div class="card 6">
                    <div class="card_image">
                      <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
                      </div>
                    <div class="card_title title-black">
                      <p>Card Title</p>
                    </div>
                    </div>
            </div>
{% endblock %}