{% extends 'index.html' %}

{% block js %}
<script src="../static/js/category.js"></script>
{% endblock %}


{% block main %}


<h1 style="text-align: center;">Manage Categories</h1>

<div id="newCategory" class="overlay">
    <div class="popup">
        <h3>Please fill out the category details</h3>
        <a class="close" href="#">&times;</a>
        <div class="content"></div>
        <form method="post" action="/category">
            Name:<br>
            <input type="text" name="name" placeholder="Category name" required>
            <br>
            Description:<br>
            <input type="text" name="description" placeholder="Category description" required>
            <br><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</div>

<div id="updateCategory" class="overlay">
    <div class="popup">
        <h3>Please update the category details</h3>
        <a class="close" href="#">&times;</a>
        <div class="content"></div>
        <form method="post" action="/updateCategory">
            Id:<br>
            <input id="categoryId" type="text" name="catid" readonly>
            <br>
            Name:<br>
            <input id="categoryName" type="text" name="name" placeholder="Category name" required>
            <br>
            Description:<br>
            <input id="categoryDescription" type="text" name="description" placeholder="Category description" required>
            <br><br>
            <input type="submit" value="update">
        </form>

    </div>

</div>
<div class="add-new" style="float: right !important; padding-right: 20rem; ">
    <a href="#newCategory"><button type="button" class="btn btn-info add-new">
        <i class="fa fa-plus"></i> Add New</button></a>
</div>
<div class="container">
    <div class="table-wrapper">
        <div class="title-row">
            <div class="title">
                <h3><b>Category Details</b></h3>
            </div>
            <div class="add-new">
                <input type="text" class="add-new" style="width: 19rem;" id="searchInput" onkeyup="filter()" placeholder="Search by category name...">
            </div>
        </div>

        <table class="table table-bordered" id="table">
            <thead>
                <tr>
                    {% for column in data["header"] %}
                    <th>{{column}}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data["rows"] %}
                <tr>
                    {% for cell in item %}
                    <td>{{cell}}</td>
                    {% endfor %}
                    <td>
                        <a class="edit" href="#updateCategory" title="Edit" data-toggle="tooltip"><i
                                class="fa fa-pencil"></i></a>
                        <a id={{item[0]}} class="delete" title="Delete" data-toggle="tooltip"><i
                                class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("table");
      tr = table.getElementsByTagName("tr");
    
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>


{% endblock %}