<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}

    <title>Inventory Management</title>
</head>

<body>
    <div id="sidebar" class="sidenav">
        <a href="javascript:void(0)" class="navclosebtn" onclick="closeNav()">×</a>
        <a href="/employee">Employees</a>
        <a href="/allBrands">Brands</a>
        <a href="/category">Categories</a>
        <a href="/logout">Logout</a>
        <!-- <a href="#contact">Contact</a> -->
    </div>

    <div class="main">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="success-popup" id="timeout">
                    <div class="alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    
        
        <button class="navopenbtn" onclick="openNav()">☰</button> 
        <h1 style="text-align: center;">WELCOME!!</h1>

        
        {% block main %}
        {% endblock %}


        
    </div>

    
    <script>
        setTimeout(function() {
            $('#timeout').fadeOut('fast');
        }, 1500);
        function openNav() {
          document.getElementById("sidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("sidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
        </script>
</body>

</html>