{% extends 'index.html' %}

{% block js %}
<script src="../static/js/supplier.js"></script>
{% endblock %}


{% block main %}

<div id="newSupplier" class="overlay">
    <div class="popup">
        <h3>Please fill out the supplier details</h3>
        <a class="close" href="#">&times;</a>
        <!-- <button id="close" style="float: right;">X</button> -->
        <div class="content"></div>
        <form method="post" action="/supplier">
            Name:<br>
            <input type="text" name="name" placeholder="Supplier name" required>
            <br>
            Phone:<br>
            <input type="text" name="phone" placeholder="Supplier Phone" required>
            <br>
            Address:<br>
            <input type="text" name="address" placeholder="Supplier Address" required>
            <br><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</div>

<div id="updateSupplier" class="overlay">
    <div class="popup">
        <h3>Please update the supplier details</h3>
        <a class="close" href="#">&times;</a>
        <!-- <button id="close" style="float: right;">X</button> -->
        <div class="content"></div>
        <form method="post" action="/updateSupplier">
            Id:<br>
            <input id="supplierId" type="text" name="supid" readonly>
            <br>
            Name:<br>
            <input id="supplierName" type="text" name="name" placeholder="Supplier name" required>
            <br>
            Phone:<br>
            <input id="supplierPhone" type="text" name="phone" placeholder="Supplier phone" required>
            <br>
            Address:<br>
            <input id="supplierAddress" type="text" name="address" placeholder="Supplier address" required>
            <br><br>
            <input type="submit" value="update">
        </form>

    </div>

</div>
<!-- <a class="button" href="#popup1">Add Category</a> -->

<!-- <a class="add-new" href="#newCategory"><button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button></a> -->

<div class="container">
    <div class="table-wrapper">
        <div class="title-row">
            <div class="title">
                <h3><b>Supplier Details</b></h3>
            </div>
            <div class="add-new">
                <a href="#newSupplier"><button type="button" class="btn btn-info add-new">
                        <i class="fa fa-plus"></i> Add New</button></a></div>
            <!-- <a class="add-new" href="#newCategory"><button type="button" class="btn btn-info add-new">
                <i class="fa fa-plus"></i> Add New</button></a> -->
        </div>

        <!-- <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2><b>Category Details</b></h2>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div> -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for column in data["header"] %}
                    <th>{{column}}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data["rows"] %}
                <tr>
                    <td><a href="/supplier/{{item[0]}}">{{item[0]}}</a></td>
                    {% for cell in item[1:] %}
                    <td>{{cell}}</td>
                    {% endfor %}
                    <td>
                        <!-- <a class="add" title="Add" data-toggle="tooltip"><i class="fa fa-plus"></i></a> -->
                        <a class="edit" href="#updateSupplier" title="Edit" data-toggle="tooltip"><i
                                class="fa fa-pencil"></i></a>
                        <a id={{item[0]}} class="delete" title="Delete" data-toggle="tooltip"><i
                                class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}