{% extends 'index.html' %}

{% block js %}
<script src="../static/js/supplier_detail.js"></script>
{% endblock %}


{% block main %}

<h1 style="text-align: center;">Manage Orders</h1>

<div id="newOrder" class="overlay">
    <div class="popup">
        <h3>Please fill out the order details</h3>
        <a class="close" href="#">&times;</a>
        <div class="content"></div>
        <form method="post" action="/supplier/{{data['sup_id']}}">
            <label for="product">Product:</label>
            <br>
            <select name="product" id="product">
                {% if data["all_products"]["rows"] | length >0%}
                    {% for item in data["all_products"]["rows"] %}
                    <option value={{item[0]}}>{{item[1]}}</option>
                    {% endfor%}
                {% endif %}
            </select>
            <br>
            Quantity:<br>
            <input id="quantity" type="number" name="quantity">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<div class="add-new" style="float: right; padding-right: 20rem; ">
    <a href="#newOrder"><button type="button" class="btn btn-info add-new">
            <i class="fa fa-plus"></i> New Order</button></a>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="title-row">
            <div class="title">
                <h3><b>Past Orders</b></h3>
            </div>
            <div class="add-new">
                <input type="text" class="add-new" style="width: 19rem;" id="searchInput1" onkeyup="filter1()" placeholder="Search by product name...">
            </div>
            <table class="table table-bordered" id="table1">
                <thead>
                    <tr>
                        {% if data["past_orders"]["header"] | length >0 %}
                            {% for column in data["past_orders"]["header"][1:] %}
                            <th>{{column}}</th>
                            {% endfor %}
                        {% else %}
                        <th>--------NONE--------</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data["past_orders"]["rows"] %}
                    <tr>
                        {% for cell in item[1:] %}
                        <td>{{cell}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="table-wrapper">
            <div class="title-row">
                <div class="title">
                    <h3><b>Pending Orders</b></h3>
                </div>
                <div class="add-new">
                    <input type="text" class="add-new" style="width: 19rem;" id="searchInput2" onkeyup="filter2()" placeholder="Search by product name...">
                </div>
            </div>
            <table class="table table-bordered" id="table2">
                <thead>
                    <tr>
                        {% if data["pending"]["header"] | length >0 %}
                            {% for column in data["pending"]["header"][1:] %}
                            <th>{{column}}</th>
                            {% endfor %}
                        <th>Actions</th>
                        {% else %}
                        <th>--------NONE--------</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data["pending"]["rows"] %}
                    <tr>
                        {% for cell in item[1:] %}
                        <td>{{cell}}</td>
                        {% endfor %}
                    <td>
                            <button id={{item[0]}} class="settle"><i class="fa fa-check" aria-hidden="true" style="color: green;"></i> Settle</button> 
                            <button id={{item[0]}} class="cancel"><i class="fa fa-times" aria-hidden="true" style="color: red;"></i> Cancel</button>
                    </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var all_data = {{data|tojson}};
        var sid = all_data["sup_id"];
        document.querySelectorAll('.settle').forEach(each => {
            // for each one, attach an eventlistener of onclick
            each.onclick = () => {
                var body = {"purchase_id": each.id};
                // send request to your backend delete url
                fetch("/supplier/settle/" + each.id, {
                }).then(function(){
                    window.location.href = '/supplier/'+sid;
                });
            };
        });
        document.querySelectorAll('.cancel').forEach(each => {
            // for each one, attach an eventlistener of onclick
            each.onclick = () => {
                var body = {"purchase_id": each.id};
                // send request to your backend delete url
                fetch("/supplier/cancel/" + each.id, {
                }).then(function(){
                    window.location.href = '/supplier/'+sid;
                });
            };
        });
        function filter1() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput1");
            filter = input.value.toUpperCase();
            table = document.getElementById("table1");
            tr = table.getElementsByTagName("tr");
        
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        }
        function filter2() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput2");
            filter = input.value.toUpperCase();
            table = document.getElementById("table2");
            tr = table.getElementsByTagName("tr");
        
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        }
    </script>


    {% endblock %}